.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    position: relative;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}


.contant_box_404 {
    margin-top: -50px;
    margin-bottom: 40px;
}
.container{
    position: absolute;
    top: 100px;
    left: 650px;
}
.text{
    text-align: center;
}
.button{
    width: 100px;
    padding: 10px;
    background-color: rgb(25, 222, 3);
border-radius: 10px;
padding-bottom: 12px;
}
.button:hover{
    background-color: rgb(39, 192, 52);
    transition: 0.2s;
}
.button:active{
background: none;
border: 2px solid rgb(25, 222, 3);
transition: 0.2;
}
